@model burgerpizza.Models.ItemData

@{ ViewBag.Title = "Update"; }

<link href="~/styles/UpdateStyle.css" rel="stylesheet" />
<body style="justify-content: center; align-items: center; background-color:#EBEDEF;" ;>


    @Html.BeginForm("Update", "Update")
    {
    <div class="row">



        <div class="container">
            <div class="title">Enter Data</div>




            <div class="form">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Name</span>
                        @Html.TextBoxFor(x => x.Restaurant, new { @class = "inputa" })
                    </div>
                    <div class="input-box">
                        <span class="details">Restaurant</span>
                        @Html.TextBoxFor(x => x.Restaurant, new { @class = "inputa" })
                    </div>
                    <div class="input-box">
                        <span class="details">Description</span>
                        @Html.TextBoxFor(x => x.Description, new { @class = "inputa" })
                    </div>
                    <div class="input-box">
                        <span class="details">Ingredients</span>
                        @Html.TextBoxFor(x => x.Ingredients, new { @class = "inputa" })
                    </div>
                    <div class="input-box">
                        <span class="details">Link</span>
                        @Html.TextBoxFor(x => x.Web, new { @class = "inputa" })
                    </div>

                </div>
            </div>

            <div class="btn-container" style=" display: flex; justify-content: space-between;">
                <button class="btn btn-danger" onclick="'@Url.Action("Index","Home")'" style="background-color: orangered; cursor:pointer; padding: 10px 20px">Cancel</button>

          
                <button class="btn btn-success" onclick="" type="submit" style="background-color: forestgreen; cursor:pointer; padding: 10px 20px">Save</button>
            </div>



        </div>

          
        </div>
    }

    <div class="loading" />

</body>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">$(document).ready(function () {
    $('.loading').hide();
        $('.btun').click(function () {
            debugger;
            $('.loading').show();
        })

    })</script>
